@import '~antd/dist/antd.css';

.ant-layout {
    min-height: 100vh;
}
.ant-layout-header {
    display: flex;
    align-items: center;
}

h1.ant-typography {
    color:white;
}

h1.ant-typography .subtitle {
    color: grey;
    font-size: 1.2rem;
}

.ant-layout-content {
    width: 60%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.ant-layout-footer {
    background: #001529;
}

@media (max-width:480px) {
    h1.ant-typography .subtitle {
        display: none;
    }
}